In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
aapl = yf.Ticker('AAPL')

days = 20
hist = aapl.history(period=f'{days}d')

hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-04-15,133.593087,134.771079,133.413385,134.271927,89347100,0.00,0
1,2021-04-16,134.072272,134.441640,133.053998,133.932510,84922400,0.00,0
2,2021-04-19,133.283597,135.240280,133.113887,134.611343,94264200,0.00,0
3,2021-04-20,134.791058,135.300187,131.586494,132.884293,94812300,0.00,0
4,2021-04-21,132.135554,133.523197,131.077354,133.273621,68847100,0.00,0
5,2021-04-22,132.814404,133.922522,131.187178,131.716278,84566500,0.00,0
6,2021-04-23,131.935898,134.890871,131.935898,134.092239,78657500,0.00,0
7,2021-04-26,134.601376,134.830982,133.333525,134.491562,66905100,0.00,0
8,2021-04-27,134.781053,135.180384,133.882585,134.162109,66015800,0.00,0
9,2021-04-28,134.082243,134.791046,132.854333,133.353485,107760100,0.00,0
10,2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
11,2021-04-30,131.556541,133.333521,130.847753,131.237091,109713200,0.00,0
12,2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
13,2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
14,2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
15,2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
16,2021-05-07,130.850006,131.259995,129.479996,130.210007,78892700,0.22,0
17,2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
18,2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
19,2021-05-12,123.400002,124.639999,122.250000,122.769997,111936100,0.00,0

In [3]:
hist.index = hist.index.strftime('%d %B %Y')

In [4]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
15 April 2021,133.593087,134.771079,133.413385,134.271927,89347100,0.0,0
16 April 2021,134.072272,134.441640,133.053998,133.932510,84922400,0.0,0
19 April 2021,133.283597,135.240280,133.113887,134.611343,94264200,0.0,0
20 April 2021,134.791058,135.300187,131.586494,132.884293,94812300,0.0,0
21 April 2021,132.135554,133.523197,131.077354,133.273621,68847100,0.0,0

In [5]:
hist = hist[['Close']]

In [6]:
hist.columns = ['apple']
hist.head()

                    apple
Date
15 April 2021  134.271927
16 April 2021  133.932510
19 April 2021  134.611343
20 April 2021  132.884293
21 April 2021  133.273621

In [7]:
hist = hist.T

In [8]:
hist.index.name = 'Name'

In [9]:
hist

Date,15 April 2021,16 April 2021,19 April 2021,20 April 2021,21 April 2021,22 April 2021,23 April 2021,26 April 2021,27 April 2021,28 April 2021,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,134.271927,133.93251,134.611343,132.884293,133.273621,131.716278,134.092239,134.491562,134.162109,133.353485,133.253662,131.237091,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997