In [24]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [25]:
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'NFLX',
    'amazon': 'AMZN',
}

def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df,hist])
    return df

In [26]:
days = 20
get_data(days, tickers)

Date,15 April 2021,16 April 2021,19 April 2021,20 April 2021,21 April 2021,22 April 2021,23 April 2021,26 April 2021,27 April 2021,28 April 2021,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,134.271927,133.932510,134.611343,132.884293,133.273621,131.716278,134.092239,134.491562,134.162109,133.353485,133.253662,131.237091,132.315247,127.633202,127.882790,129.520004,130.210007,126.849998,125.910004,122.769997
facebook,307.820007,306.179993,302.239990,302.649994,301.470001,296.519989,301.130005,303.040009,303.570007,307.100006,329.510010,325.079987,322.579987,318.359985,315.019989,320.019989,319.079987,305.970001,306.529999,302.549988
google,2285.250000,2282.750000,2289.760010,2279.010010,2278.350098,2252.520020,2299.929932,2309.929932,2290.979980,2359.040039,2392.760010,2353.500000,2343.080078,2306.830078,2314.770020,2337.350098,2351.929932,2291.750000,2270.060059,2200.250000
microsoft,549.219971,546.539978,554.440002,549.570007,508.899994,508.779999,505.549988,510.299988,505.549988,506.519989,509.000000,513.469971,509.109985,503.179993,496.079987,499.549988,503.839996,486.690002,495.079987,484.980011
amazon,3379.090088,3399.439941,3372.010010,3334.689941,3362.020020,3309.040039,3340.879883,3409.000000,3417.429932,3458.500000,3471.310059,3467.419922,3386.489990,3311.870117,3270.540039,3306.370117,3291.610107,3190.489990,3223.909912,3151.939941